@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<address>
    KONARSKIEGO 4<br />
    39-200<br />
    DĘBICA<br />
    <abbr title="TELEFON KOM">P:</abbr>
    608.543.123
</address>
<address>
    <strong>ADRES EMAIL:</strong>   <a href="mailto:Support@example.com">buroPOMAGAM@e.com</a><br />
</address>