@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IOPP</h1>
    <p class="lead">Index Organizacji Pożytku Publicznego.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ministerstwo Sprawiedliwości</h2>
            <p>
                Dane zawarte w bazie IOPP, są zgodne z Krajowym Rejestrem Sądowym
            </p>
        <p><a class="btn btn-default" href="https://www.ms.gov.pl/">Przejdz do strony &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jak przekazać 1% podatku?</h2>
        <p>Sprawdz jak przekazać 1% i zobacz jakie to łatwe.</p>
        <p><a class="btn btn-default" href="https://www.pit.pl/1procent/"> Sprawdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>KRS</h2>
        <p>Strony o podobnej tematyce.</p>
        <p><a class="btn btn-default" href="https://bip.ms.gov.pl/pl/rejestry-i-ewidencje/krajowy-rejestr-sadowy/elektroniczny-dostep-do-krajowego-rejestru-sadowego/">Przejdz do strony &raquo;</a></p>
    </div>
</div>